<div class="itinerary card" id="itinerary-{{itinerary.id}}" {{action "itemHovered" itinerary on="mouseEnter"}} {{action "itemClicked" itinerary on="click"}}>
  <div class="card-block">
    <h3>{{itinerary.organizations}}</h3>
    <div class="card-test">
      <span class="types">{{itinerary.types}}</span>
      <span class="price">$ {{itinerary.price}}</span>
    </div>
    <div class="stops">
      {{#if showStops}}
        {{itinerary.stops}} stops
      {{else}}
        direct
      {{/if}}
    </div>
  </div>
</div>
