<div class="left-side">
  {{#if formFilled }}
    {{itineraries-list
    itineraries=visibleItineraries
    showDirectOnly=showDirectOnly
    selectedItinerary=selectedItinerary
    openedItinerary=openedItinerary
    }}
  {{else}}
    <div class="error alert alert-danger">
      Please specify locations in the form above
    </div>
  {{/if}}
</div>
<div class="right-side">
  {{itineraries-map
  itineraries=visibleItineraries
  selectedItinerary=selectedItinerary
  routeHovered=routeHovered
  }}
</div>
<div class="details-slider hidden" id="itinerary-details">
  <div class="close-button" {{action "closeItinerary"}}>&times;</div>
  {{itinerary-details
  itinerary=openedItinerary
  routeHovered=routeHovered
  routeOpened=routeOpened}}
</div>
<div class="details-slider hidden" id="route-details">
  <div class="close-button" {{action "closeRoute"}}>&times;</div>
  {{route-details
  route=routeOpened}}
</div>
