<div class="{{if media.isMobile 'single-column' 'left-side'}}">
  {{#if formFilled }}
    {{#if itineraries}}
      <div class="direct-switch">
        <label class="custom-control custom-checkbox">
          <input type="checkbox" checked='{{if showDirectOnly 'checked' ''}}' class="custom-control-input" {{action 'toggleDirectOnly' on="change"}}>
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">Show direct options only</span>
        </label>
      </div>
    {{/if}}
    {{itineraries-list
    itineraries=visibleItineraries
    showDirectOnly=showDirectOnly
    selectedItinerary=selectedItinerary
    openedItinerary=openedItinerary
    }}
  {{else}}
    <div class="error alert alert-danger">
      Please specify locations in the form above
    </div>
  {{/if}}
</div>

{{#if media.isMobile}}
  <div class="body-shadow hidden">
  </div>
{{else}}
  <div class="right-side">
    {{itineraries-map
    itineraries=visibleItineraries
    selectedItinerary=selectedItinerary
    routeHovered=routeHovered
    }}
  </div>
{{/if}}

<div class="{{if media.isMobile 'bottom-single-overlay hidden' 'sliders'}}">
  <div class="details-slider hidden" id="itinerary-details">
    <div class="close-button" {{action "closeItinerary"}}>&times;</div>
    {{itinerary-details
    itinerary=openedItinerary
    routeHovered=routeHovered
    routeOpened=routeOpened}}
  </div>
  <div class="details-slider hidden" id="route-details">
    <div class="close-button" {{action "closeRoute"}}>&times;</div>
    {{route-details
    route=routeOpened}}
  </div>
</div>
