<div class="add-route">
  <div class="header">
    <h1>
      Adding a route
      <small class="text-muted">
        {{#if complete}}
          Complete
        {{else}}
          Step {{currentStep}} of 3
        {{/if}}
      </small>
    </h1>
  </div>
  <div class="carousel slide">
    <div class="carousel-inner" role="listbox">
      <div class="carousel-item active">
        <div class="alert alert-warning">
          At the moment you can only add routes in 11 countries in South-East Asia: Vietnam, Cambodia, Laos, Myanmar, Thailand, Malaysia, Brunei, East Timor, Indonesia, Singapore, Philippines
        </div>
        {{create-new-route-choose-location
        countryLabel="Choose country of origin"
        cityLabel="Choose city of origin"
        addressLabel="Point the departure address on the map"
        subAddressLabel="I don't know the exact departure address"
        commentLabel="Describe the departure location please"
        location=locations.[0]
        next=(action "next")
        registerChild=(action 'registerChild' 'stepOne')
        }}
      </div>
      <div class="carousel-item">
        {{create-new-route-choose-location
        countryLabel="Choose country of destination"
        cityLabel="Choose city of destination"
        addressLabel="Point the arrival address on the map"
        subAddressLabel="I don't know the exact arrival address"
        commentLabel="Describe the arrival location please"
        location=locations.[1]
        next=(action "next")
        back=(action "back")
        registerChild=(action 'registerChild' 'stepTwo')
        }}
      </div>
      <div class="carousel-item">
        {{create-new-route-details
        newRoute=newRoute
        submit=(action "submit")
        back=(action "back")
        registerChild=(action 'registerChild' 'stepThree')
        }}
      </div>
      <div class="carousel-item">
        {{create-new-route-thanks
        errorMessage=errorMessage
        resetForm=resetForm
        }}
      </div>
    </div>
  </div>
</div>
