{{#link-to 'index' classNames="navbar-brand"}}
  <img src="/assets/images/a2b-logo-min.png" alt="A2B Logo">
{{/link-to}}
<div class="nav navbar-nav float-xs-right">
  {{#if media.isMobile}}
    <button class="navbar-toggler"
            type="button"
            onclick={{action 'openOverlay'}}>
    </button>
  {{else}}
    {{#link-to 'index' classNames="nav-item nav-link"}}
      Home
    {{/link-to}}
    {{#link-to 'itineraries' classNames="nav-item nav-link"}}
      Search
    {{/link-to}}
    {{#link-to 'routes.new' classNames="nav-item nav-link"}}
      Add Route
    {{/link-to}}
    {{#link-to 'about' classNames="nav-item nav-link"}}
      About
    {{/link-to}}
  {{/if}}
</div>
<div class="overlay-menu {{if menuOpen '' 'hidden'}}">
  {{#link-to 'index'}} Home {{/link-to}}
  {{#link-to 'itineraries'}} Search {{/link-to}}
  {{#link-to 'routes.new'}} Add Route {{/link-to}}
  {{#link-to 'about'}} About {{/link-to}}
</div>
<div class="ovelay-menu-shadow {{if menuOpen '' 'hidden'}}"
     onclick={{action 'closeOverlay'}}>
</div>
