<div class="form-inline">
  <div class="form-group first">
    <label class="sr-only" for="from-wrapper">From City</label>
    {{location-autocomplete
    placeholder="From City"
    location=from
    noMatchesSuggestion="Bangkok, Thailand"
    error=fromError
    }}
  </div>
  <div class="form-group">
    <label class="sr-only" for="to">To City</label>
    {{location-autocomplete
    placeholder="To City"
    location=to
    noMatchesSuggestion="Phnom Penh, Cambodia"
    error=toError
    }}
  </div>
  {{{if inline "" "<br>"}}}
  <button type="submit" class="btn btn-secondary" {{ action "search" }}>
    {{#if showSpinner}}
      <div class="spinner">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
      </div>
    {{else}}
      Search
    {{/if}}
  </button>
</div>
