<form class="form-inline" id="search-form">
  {{#if inline}}
    <div class="form-group">
      {{place-autocomplete-field
        value=from_input
        handlerController=this
        inputClass="form-control form-control"
        id="from-wrapper"
        placeChangedCallback='fromChanged'
        types='(cities)'
      }}
    </div>
    <div class="form-group">
      {{place-autocomplete-field
        value=to_input
        handlerController=this
        inputClass="form-control form-control"
        id="to-wrapper"
        placeChangedCallback='toChanged'
        types='(cities)'
      }}
    </div>
    <button id="submit" type="submit" class="btn btn-secondary" {{ action "search" }}>Search</button>
  {{else}}
    <p class="lead">
    <div class="form-group">
      {{place-autocomplete-field
        handlerController=this
        inputClass="form-control form-control-lg"
        id="from-wrapper"
        placeChangedCallback='fromChanged'
        types='(cities)'
      }}
    </div>
    <div class="form-group">
      {{place-autocomplete-field
        handlerController=this
        inputClass="form-control form-control-lg"
        id="to-wrapper"
        placeChangedCallback='toChanged'
        types='(cities)'
      }}
    </div>
    </p>
    <p>
    <button id="submit" type="submit" class="btn btn-lg btn-secondary" {{ action "search" }}>Search</button>
    </p>
  {{/if}}
</form>
