<div class="form-group">
  <label for="country">{{countryLabel}}</label>
  <select class="form-control" id="country" {{action "countryChanged" on='change'}}>
    <option disabled selected></option>
    {{#each countries as |country|}}
      <option value={{country.value}}>{{country.text}}</option>
    {{/each}}
  </select>
</div>

{{#if countrySet}}
  <div class="form-group">
    <label for="city">{{cityLabel}}</label>
    {{place-autocomplete-field
    handlerController=this
    inputClass="form-control"
    placeChangedCallback='cityChanged'
    types='(cities)'
    restrictions=countryRestriction
    id='city'
    placeholder="Bangkok, Thailand"
    }}
  </div>

  {{#if citySet}}
    {{#if showAddress}}
      <div class="form-group">
        <label for="address">{{addressLabel}}
          <small id="addressHelp" class="form-text text-muted">
            or enter it in the field below
          </small>
        </label>

        {{place-autocomplete-field
        value=address
        handlerController= this
        inputClass="form-control"
        placeChangedCallback='addressChanged'
        types='address'
        restrictions=countryRestriction
        id='address'
        placeholder="23 Sukhumvit Road, Bangkok, Thailand"
        aria-describedby="addressHelp"
        }}
        <div class="form-text">
          <a href="#" {{action "toggleAddress" on='click'}}>{{subAddressLabel}}</a>
        </div>
      </div>
      <input type="hidden" id="coords" value="">
    {{else}}
      <div class="form-group">
        <label for="comment">{{commentLabel}}</label>
        {{textarea class="form-control" id="comment" rows="3" placeholder="In front of a Night Market; Near the police station; By the Buddha statue" value=comment}}
        <div class="form-text">
          <a href="#" {{action "toggleAddress" on='click'}}>Let me try to search for an address again!</a>
        </div>
      </div>
    {{/if}}
    {{#if addressSet}}
      <button class="btn btn-primary float-xs-right" {{action "next"}}>Next &gt;</button>
    {{/if}}
  {{/if}}
{{/if}}
{{#if showBackButton}}
  <button class="btn btn-primary float-xs-left" {{action "back"}}>&lt; Back</button>
{{/if}}
