<h3>{{header}}</h3>
{{place-autocomplete-field
    value=city
    handlerController=this
    inputClass="form-control form-control"
    placeChangedCallback='cityChanged'
    types='(cities)'
}}

<div class="form-group row">
  <label for="address" class="col-xs-3 col-form-label">Address</label>
  <div class="col-xs-9">
    {{input class="form-control" id="address" value=address}}
  </div>
</div>
<div class="form-group row">
  <label for="coords" class="col-xs-3 col-form-label">Coords</label>
  <div class="col-xs-9">
    {{input class="form-control" id="coords" value=coords}}
  </div>
</div>

<button {{action "next"}}>Next</button>
