{{create-new-route-choose-country
countryLabel=countryLabel
countries=countries
onCountryChanged=onCountryChanged
countrySelected=location.country
}}

{{#if isCountrySet}}
  {{create-new-route-choose-location-city
  city=location.city
  cityLabel=cityLabel
  countryRestriction=countryRestriction
  }}

  {{#if isCitySet}}
    {{#if showAddress}}
      {{create-new-route-choose-location-address
      address=location.address
      countryRestriction=countryRestriction
      addressLabel=addressLabel
      subAddressLabel=subAddressLabel
      toggleAddress=(action 'toggleAddress')
      }}
    {{else}}
      {{create-new-route-choose-location-comment
      comment=location.comment
      commentLabel=commentLabel
      toggleAddress=(action 'toggleAddress')
      }}
    {{/if}}
    {{#if isAddressSet}}
      <button class="btn btn-primary float-xs-right" {{action "next"}}>
        Next &gt;
      </button>
    {{/if}}
  {{/if}}
{{/if}}
{{#if back}}
  <button class="btn btn-primary float-xs-left" {{action "back"}}>
    &lt; Back
  </button>
{{/if}}
