<div class="alert alert-danger">At the moment you can only add routes in 11 countries in South-East Asia: Vietnam, Cambodia, Laos, Myanmar, Thailand, Malaysia, Brunei, East Timor, Indonesia, Singapore, Philippines</div>
<h4>{{countryHeader}}</h4>
<select {{action "countryChanged" on='change'}}>
  <option value="---" disabled selected>---</option>
  {{#each countries as |country|}}
    <option value={{country.value}}>{{country.text}}</option>
  {{/each}}
</select>

  <h4>{{cityHeader}}</h4>
  {{place-autocomplete-field
      handlerController=this
      inputClass="form-control form-control"
      placeChangedCallback='cityChanged'
      types='(cities)'
      restrictions=countryRestriction
  }}

  <h4>Enter the address below or point it on the map</h4>

  {{#if showAddress}}
    <a href='#' {{action "toggleAddress" on='click'}}>
      I don't know the exact address!
    </a>
    <div class="form-group">
      {{place-autocomplete-field
          value=address
          handlerController= this
          inputClass="form-control form-control"
          placeChangedCallback='addressChanged'
          types='address'
          restrictions=countryRestriction
      }}
    </div>

    <div class="form-group">
      <label for="coords" class="col-form-label">Coords</label>
      {{input class="form-control" id="coords" value=coords}}
    </div>
  {{else}}
    <div>
      <label class='col-form-label'>Describe the location for us</label>
      {{textarea class="form-control" value=fromComment}}
    </div>
    <div>
      <a href='#' {{action "toggleAddress" on='click'}}>
        Let me try to search for an address again!
      </a>
    </div>
  {{/if}}

  <button {{action "next"}}>Next</button>
