<div class="row">
  <div class="col-xs-8 company-name">
    <h2>{{route.organization}}</h2>
  </div>
  <div class="col-xs-4 price">${{route.price}}</div>
</div>
<div class="row cities">
  <div class="col-xs-8">{{route.fromCity}} &rarr; {{route.toCity}}</div>
</div>
<div class="row info">
  <div class="col-xs-8 transport">{{route.transportType}}</div>
  <div class="col-xs-4 duration">{{duration-string route.duration}}</div>
</div>
