<div class="route-summary">
  {{route-summary route=route}}
</div>
<div class="route-details">
  <h3>Description</h3>
  <p>{{route.description}}</p>
  <h3>Timetable</h3>
  <p>{{route.timetable}}</p>
  <h3>Departing from</h3>
  <p>{{route.fromAddress}}</p>
  <h3>Arriving to</h3>
  <p>{{route.toAddress}}</p>
</div>
<div class="alert alert-warning">
  Price and timetable could change. Please contact the transpotation company for details.
</div>
<div class="route-details company-contacts">
  <h3>Contact {{route.organization}}</h3>
  <div class="links">
    <p><a href="mailto:{{route.companyMail}}" target="_blank">{{route.companyMail}}</a></p>
    <p><a href="tel:{{route.companyPhone}}" target="_blank">{{route.companyPhone}}</a></p>
    <p><a href="{{route.companySite}}" target="_blank">{{route.companySite}}</a></p>
  </div>
  {{#if description}}
    <h3>About {{route.organization}}</h3>
    <p>{{description}}</p>
  {{/if}}
</div>
