<div class="route card" id="route-{{route.id}}">
  <div class="card-block">
    <h3>{{route.organization}}</h3>
    <div class="card-test">
      <span class="types">{{route.transportType}}</span>
      <span class="price">$ {{route.price}}</span>
    </div>
  </div>
</div>
<div class="route-info card">
  <div class="card-block">
    <p>Duration: {{route.duration}}</p>
    <p>Timetable: {{route.timetable}}</p>
    <p>Description: <br>
    {{route.description}}</p>
  </div>
</div>
<div class="alert alert-warning">Price and timetable could change. Please contact the transpotation company for details.</div>

<div class="company-info card">
  <div class="card-block">
    <h4>Contact {{route.organization}} at:</h4>
    <p><a href="mailto:{{route.companyMail}}">{{route.companyMail}}</a></p>
    <p><a href="tel:{{route.companyPhone}}">{{route.companyPhone}}</a></p>
    <p><a href="{{route.companySite}}">{{route.companySite}}</a></p>
    <p>About {{route.organization}}: {{route.companyDescription}}</p>
  </div>
</div>
