<div class="form-group">
  <label for="country">{{countryLabel}}</label>
  <select class="form-control"
          onchange={{action 'countryChanged' value="target.value"}}>
    <option disabled
          selected="{{if countrySelected '' 'selected'}}">
    </option>
    {{#each countries as |country|}}
    <option value={{country.value}}>{{country.text}}</option>
    {{/each}}
  </select>
</div>
