<div class="col-xs-6">
  <div class="carousel slide">
    <div class="carousel-inner" role="listbox">
      <div class="carousel-item active">
        {{create-new-route-choose-location
        countryHeader="Choose a country of origin"
        cityHeader="Enter city of origin"
        cityObject=fromCityObject
        city=newRoute.fromCity
        addressObject=fromAddressObject
        address=newRoute.fromAddress
        coords=newRoute.fromCoords
        comment=newRoute.fromComment
        next=(action "next")
        }}
      </div>
      <div class="carousel-item">
        {{create-new-route-choose-location
        countryHeader="Choose a country of origin"
        cityHeader="Enter city of origin"
        cityObject=toCityObject
        city=newRoute.toCity
        addressObject=toAddressObject
        address=newRoute.toAddress
        coords=newRoute.toCoords
        comment=newRoute.fromComment
        next=(action "next")
        }}
      </div>
      <div class="carousel-item">
        {{create-new-route-details
        newRoute=newRoute
        submit=(action "submit")
        }}
      </div>
    </div>
  </div>
  {{#if showBackButton}}
    <button {{action "back"}}>Back</button>
  {{/if}}

</div>
<div class="col-xs-6">
  {{create-new-route-map
      fromCityObject=fromCityObject
      fromCity=newRoute.fromCity
      fromAddressObject=fromAddressObject
      fromAddress=newRoute.fromAddress
      fromCoords=newRoute.fromCoords
      toCityObject=toCityObject
      toCity=newRoute.toCity
      toAddressObject=toAddressObject
      toAddress=newRoute.toAddress
      toCoords=newRoute.toCoords
      formPosition=formPosition
  }}
</div>
