<div class="left-side">
  {{#if shortForm}}
    {{create-new-route-short-form
    newRoute=newRoute
    locations=locations
    currentStep=currentStep
    registerChild=(action 'registerChild' 'form')
    submit=(action 'submit')
    resetForm=(action "resetForm")
    errorMessage=errorMessage
    }}
  {{else}}
    {{create-new-route-carousel-form
    newRoute=newRoute
    locations=locations
    currentStep=currentStep
    registerChild=(action 'registerChild' 'form')
    submit=(action 'submit')
    resetForm=(action "resetForm")
    errorMessage=errorMessage
    }}
  {{/if}}
</div>
<div class="right-side">
  {{create-new-route-map
  locations=locations
  currentStep=currentStep
  registerChild=(action 'registerChild' 'map')
  mapClicked=(action 'mapClicked')
  }}
</div>

{{login-modal
showModal=showLoginModal
text="Please leave us your contact info so we can save your route"
registerChild=(action 'registerChild' 'login-form')
}}
