{{#if media.isMobile}}
  <div class="add-route-mobile">
    <div class="alert alert-warning">
      Sorry, adding routes is not optimised for smartphones yet. Please try from a larger screen.
    </div>
  </div>
{{else}}
  <div class="left-side">
    {{#if shortForm}}
      {{create-new-route-short-form
      newRoute=newRoute
      locations=locations
      currentStep=currentStep
      registerChild=(action 'registerChild' 'form')
      submit=(action 'submit')
      resetForm=(action "resetForm")
      onCountryChanged=(action "onCountryChanged")
      errorMessage=errorMessage
      showSpinner=showSpinner
      countries=countries
      }}
    {{else}}
      {{create-new-route-carousel-form
      newRoute=newRoute
      locations=locations
      currentStep=currentStep
      registerChild=(action 'registerChild' 'form')
      submit=(action 'submit')
      resetForm=(action "resetForm")
      onCountryChanged=(action "onCountryChanged")
      errorMessage=errorMessage
      showSpinner=showSpinner
      countries=countries
      }}
    {{/if}}
  </div>
  <div class="right-side">
    {{create-new-route-map
    locations=locations
    currentStep=currentStep
    mapClicked=(action 'mapClicked')
    }}
  </div>

  {{login-modal
  showModal=showLoginModal
  text="Please leave us your contact info so we can save your route"
  registerChild=(action 'registerChild' 'login-form')
  }}
{{/if}}
