<form id="new-route">
  {{input id='fromAddress' value=newRoute.fromAddress placeholder="From Address"}}
  {{input id='fromCity' value=newRoute.fromCity placeholder="From City"}}
  {{input id='fromCoords' value=newRoute.fromCoords placeholder="From Coordinates"}}

  {{input id='toAddress' value=newRoute.toAddress placeholder="To Address"}}
  {{input id='toCity' value=newRoute.toCity placeholder="To City"}}
  {{input id='toCoords' value=newRoute.toCoords placeholder="To Coordinates"}}

  {{input id='transportType' value=newRoute.transportType placeholder="Transport Type"}}
  {{input id='organization' value=newRoute.organization placeholder="Organization"}}
  {{input id='description' value=newRoute.description placeholder="Description"}}

  {{input id='duration' value=newRoute.duration placeholder="Duration"}}
  {{input id='price' value=newRoute.price placeholder="Price"}}
  {{input id='timetable' value=newRoute.timetable placeholder="Timetable"}}

  <button id="submit" {{action "createRoute" newRoute}}>Submit</button>
</form>
