{{! Transport type select and text field}}
<div class="form-group row">
  <label for="transportType"
    class="details-left col-form-label">
    Transport <span class="required">*</span>
  </label>
  <div class="details-right">
    <select class="form-control"
            id="transportType"
            {{action "transportTypeChanged"
            on="change"}}>
      <option value=""
              disabled
              selected="{{if transportTypeEmpty 'selected' ''}}">
      </option>
      {{#each transportTypeFieldValues as |type|}}
        <option value="{{type}}">{{type}}</option>
      {{/each}}
      <option value="Other"
              selected="{{if showOtherTransportField 'selected' ''}}">
        Other
      </option>
    </select>
    {{#if showOtherTransportField}}
      {{input
      class="form-control"
      id="otherTransport"
      placeholder="tuk-tuk, taxi, camel"
      value=newRoute.transportType}}
    {{/if}}
  </div>
</div>

<div class="form-group row">
  <label for="price"
         class="details-left col-form-label">
    Price <span class="required">*</span>
  </label>
  <div class="details-right">
    <div class="input-group">
      <div class="input-group-addon">$</div>
      {{input
      type="number"
      class="form-control"
      placeholder="15"
      id="price"
      value=newRoute.price}}
    </div>
  </div>
</div>

<div class="form-group row">
  <label for="duration"
         class="details-left col-form-label">
    Duration <span class="required">*</span>
  </label>
  <div class="details-right">
    <div class="row">
      <div class="col-xs-6 duration-hours">
        <div class="input-group">
          {{input
          type="number"
          class="form-control"
          placeholder="3"
          id="duration-hours"
          min=0
          max=72
          step=1
          value=durationHours}}
          <div class="input-group-addon">h</div>
        </div>
      </div>
      <div class="col-xs-6 duration-minutes">
        <div class="input-group">
          {{input
          type="number"
          class="form-control"
          placeholder="0"
          id="duration-minutes"
          min=0
          max=59
          step=15
          value=durationMinutes}}
          <div class="input-group-addon">m</div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="form-group row">
  <label for="timetable" class="details-left col-form-label">
    Timetable
  </label>
  <div class="details-right">
    {{input
    class="form-control"
    placeholder="7:00AM, 9:00PM"
    id="timetable"
    value=newRoute.timetable}}
  </div>
</div>
<div class="form-group">
  <label for="description">
    Description <span class="required">*</span>
  </label>
  {{textarea
  class="form-control"
  rows="3"
  placeholder="Comfortable VIP Van, TV, Wi-fi, Water, polite drivers"
  id="description"
  value=newRoute.description}}
</div>

<div class="form-group">
  <label for="company-name">
    Transport Company Name <span class="required">*</span>
  </label>
  {{input
  class="form-control"
  placeholder="Somethign Tour"
  id="company-name"
  placeholder="AsiaLines"
  value=newRoute.organization}}
</div>

<div class="form-group">
  <label for="company-description">
    Transport Company contacts
  </label>
  {{textarea
  class="form-control"
  id="company-description"
  rows="3"
  placeholder="Phone, website, email, office address"
  value=newRoute.companyDescription}}
</div>

<div class="buttons-row">
  {{#if back}}
    <button class="btn btn-primary float-xs-left" {{action "back"}}>
      &lt; Back
    </button>
  {{/if}}

  {{#if showSubmitButton}}
  <button {{action "submit"}}
            class="btn btn-primary highlighted float-xs-right">
    {{#if showSpinner}}
    <div class="spinner">
      <div class="bounce1"></div>
      <div class="bounce2"></div>
      <div class="bounce3"></div>
    </div>
    {{else}}
    Submit
    {{/if}}
  </button>
  {{/if}}
</div>
