Itineraries!
{{search-route-form from=from to=to submitSearch=(action 'search')}}
<div class="itineraries">
  <div class="itineraries-list">
    {{#if formFilled }}
      {{#each model as |itinerary|}}
        <div class="itinerary">
          <h3>{{itinerary.title}}</h3>
        </div>
      {{else}}
        <div class="error">No routes found between locations you've specified</div>
      {{/each}}
    {{else}}
      <div class="error">Please specify locations in the form above</div>
    {{/if}}
  </div>
  <div class="map">
    Map here
  </div>
</div>
{{outlet}}
