<div class="search-form">
  <form {{ action "search" on="submit" }}>
    <input type="text" id="from" value={{from}} placeholder="Bangkok, Thailand" />
    <input type="text" id="to" value={{to}} placeholder="Phuket, Thailand" />
    <button id="submit" type="submit">Search</button>
  </form>
</div>
<div class="routes">
  <div class="routes-list">
    {{#if formFilled }}
      {{#each model as |route|}}
        <article class="route">
          <h3>{{#link-to 'routes.show' route}}{{route.title}}{{/link-to}}</h3>
        </article>
      {{else}}
        <div class="error">No routes found between locations you've specified</div>
      {{/each}}
    {{else}}
      <div class="error">Please specify locations in the form above</div>
    {{/if}}
  </div>
  <div class="routes-map">
    Map here
  </div>
</div>
{{outlet}}
